@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
body{
    background: url('../imagens/fundo-madeira.jpg')top center no-repeat  fixed;
    background-size: cover;
}
main {
    
    height: 100vh;
    position: relative;
}

section#telefone {
    height: 626px;
    width: 310px;
    position: absolute;
    background: url('../imagens/frame-iphone.png') no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
iframe#home{
    position: relative;
    top: 80px;
    left: 22px;
    width: 286px;
    height: 489px;
}
section#redes{
    text-align: right;
}
section>a#lhome img{
    margin-top: 70px;
}
section#redes img{
    width: 60px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.37);
    box-sizing: border-box;
    
}
section#redes img:hover{
    border: 2px solid rgba(255, 255, 255, 0.849);
    transform: translate(-6px, -4px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.625);
    transition: .2s, border .2s;
}