@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
body{
    background: url('../imagens/fundo-madeira.jpg')top center no-repeat  fixed;
    background-size: cover;
}
main {
    
    height: 100vh;
    position: relative;
}

section#telefone {
    height: 626px;
    width: 310px;
    position: absolute;
    background: url('../imagens/frame-iphone.png') no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}