@charset "UTF-8";

@media print {}

@media screen and (min-width:768px) and (max-width:992px) {
    body {
        background-image: url('../img/back-tablet.jpg');
        #phone {
            display: none;
        }
        #tablet {
            display: block;
        }
        #print {
            display: none;
        }
        #pc {
            display: none;
        }
        #tv {
            display: none;
        }
    }
}/*TABLET*/
@media screen and (min-width:992px) and (max-width: 1200px){
    body{
        background-image: url(../img/back-pc.jpg);
        #phone {
            display: none;
        }
        #tablet {
            display: none;
        }
        #print {
            display: none;
        }
        #pc {
            display: block;
        }
        #tv {
            display: none;
        }
    }
}/*desktop*/
@media screen and (min-width:1200px){
    body{
        background-image: url(../img/back-tv.jpg);
        #phone {
            display: none;
        }
        #tablet {
            display: none;
        }
        #print {
            display: none;
        }
        #pc {
            display: none;
        }
        #tv {
            display: block;
        }
    }
}/*tv*/