@charset "UTF=8";

*{
    margin: 10px;
    padding: 10px;
    line-height: 1.5em;
}

html, body{
    font-family: 'Courier New', Courier, monospace;
    
}
menu{
    display: none;
}
header {
    background-color: gray;
    color: white;
}

h1 {
    padding: 10px;
    text-align: center;
}

menu ul {
    background-color: rgb(72, 70, 70);

}

ul li {
    display: inline-block;
    padding: 10px;
}
main{
    margin: auto;
    max-width: 600px;
    text-align: justify;
}

article h2{
    padding-top: 10px;
    padding-bottom: 5px;
}
article p{
    line-height: 1.4em;
    margin-bottom: 10px;
}